certifi==2021.10.8
chardet==4.0.0
idna==2.10
mwoauth==0.3.7
mwparserfromhell==0.6.3
oauthlib==3.1.0
Pillow==7.2.0
pkg-resources==0.0.0
PyJWT==1.7.1
PyMySQL==0.10.1
python-dateutil==2.8.2
-e git+https://gerrit.wikimedia.org/r/pywikibot/core@3cc3542e6229cbc75dc4bb185d9d2e986f3be6f0#egg=pywikibot
requests==2.25.1
requests-oauthlib==1.3.0
six==1.16.0
toolforge==5.0.0
urllib3==1.26.7
